body{
    background-color: lightseagreen;
    box-sizing: border-box;
    
}
.clock{
    background-color: rgba(255,255,255, 0.9);
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    border: 2px solid black;
    
}
.clock .number {
     position: absolute;
     text-align: center;
     height: 100%;
     width: 100%;
     font-weight: bold;
     font-size: 30px;
     

    
}
.number1{
    transform: rotate(30deg);
}
.number2{
    transform: rotate(60deg);
}.number3{
    transform: rotate(90deg);
}.number4{
    transform: rotate(120deg);
}.number5{
    transform: rotate(150deg);
}.number6{
    transform: rotate(180deg);
}.number7{
    transform: rotate(210deg);
}.number8{
    transform: rotate(240deg);
}.number9{
    transform: rotate(270deg);
}.number10{
    transform: rotate(300deg);
}.number11{
    transform: rotate(330deg);
}
.clock .Hand{
    position: absolute;
    bottom: 50%;
    left: 50%;
  
    background-color: red;
    transform: translatex(-50%);
    transform-origin: bottom;
    border-radius: 10px 10px 0px 0px;
}
.clock .dot{
    border-radius: 50%;
    background-color: black;
    position: absolute;
    height: 15px;
    width: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.clock .Hand.hour{
height: 35%;
width: 10px;
background-color: black;
z-index: 10;
}
.clock .Hand.minute{
    height: 40%;
    width: 7px;
    background-color: black;
    transform: rotate(-60deg);
    z-index: 11;
    }
    .clock .Hand.second{
        height: 43%;
        width: 3px;
        background-color: rgb(224, 16, 16);
        transform: rotate(30deg);
        z-index: 12;
        }
        .number6{
            transform: rotate(180deg);
        }
       .flip2{
       transform: rotate(-60deg);
       }
       .flip4
       {
           transform: rotate(-120deg);
       }
     .flip3
     {
         transform: rotate(-90deg);
     }
     .flip6{
         transform: rotate(180deg);
     }
     .flip5{
         transform: rotate(190deg);
     }
     .flip7{
         transform: rotate(160deg);
     }
     .flip8{
         transform: rotate(120deg);
     }
     .flip9{
         transform: rotate(90deg);
     }
     .flip10{
         transform: rotate(60deg);
     }
     .flip11{
         transform: rotate(30deg);
     }
     .flip1{
         transform: rotate(-30deg);
     }